@import "tailwindcss";



@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mansory";
  src: url("./assets/fonts/Mansory Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mansory";
  src: url("./assets/fonts/Mansory SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Articulat CF", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: "Articulat CF", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mansory", serif;
}

.font-articulat {
  font-family: "Articulat CF", sans-serif;
}

.font-mansory {
  font-family: "Mansory", serif;
}

a,
button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
summary,
label[for] {
  cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
}
